.heroContainer {
  background: #0c0c0c;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  height: 800px;
  position: relative;
  z-index: 1;

  :before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    object-fit: fill;
  }
  .heroBg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .videoBg {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      background: #232834;
    }
  }
  .heroContent {
    z-index: 3;
    max-width: 1200px;
    position: absolute;
    padding: 8px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .heroH1 {
      color: #fff;
      font-size: 48px;
      text-align: center;

      @media screen and (max-width: 768px) {
        font-size: 40px;
      }
    }
    .heroP {
      margin-top: 24px;
      color: #fff;
      font-size: 24px;
      text-align: center;
      max-width: 700px;

      @media screen and (max-width: 768px) {
        font-size: 20px;
      }

      @media screen and (max-width: 400px) {
        font-size: 18px;
      }
    }
    .heroBtnWrapper {
      margin-top: 32px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
