@import '../../../styles/variables.scss';

.nav {
  background: #000;
  height: 80px;
  margin-top: -80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 10;

  @media screen and (max-width: 960px) {
    transition: 0.8s all ease;
  }

  .navbarContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    z-index: 0;
    width: 100%;
    padding: 0 24px;
    max-width: 1500px;

    .navLogo {
      color: #fff;
      justify-self: flex-start;
      cursor: pointer;
      word-break: break-all;
      font-size: 28px;
      align-items: center;
      font-weight: bold;
      text-decoration: none;
      margin-top: 18px;

      @media screen and (max-width: 768px) {
        margin-top: 0px;
      }

      @media screen and (max-width: 480px) {
        width: 80%;
      }
    }
    .mobileIcon {
      display: none;

      @media screen and (max-width: 768px) {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 2rem;
        cursor: pointer;
        color: #fff;
      }
    }
    .navMenu {
      display: flex;
      align-items: center;
      list-style: none;
      text-align: center;
      @media screen and (min-width: 1200px) {
        margin-right: 65px;
      }
      @media screen and (max-width: 768px) {
        display: none;
      }

      .navItems {
        height: 80px;

        .navLink {
          color: #fff;
          display: flex;
          font-size: 24px;
          text-align: center;
          align-items: center;
          text-decoration: none;
          padding: 0 0.9rem;
          height: 100%;
          cursor: pointer;
          &:hover {
            color: $primary-color;
            transition: all 0.2s ease-in-out;
            border-bottom: 5px solid $primary-color;
          }
          &.active {
            border-bottom: 3px solid $primary-color;
          }
        }
      }
    }
    .navBtn {
      display: flex;
      align-items: center;

      @media screen and (max-width: 768px) {
        display: none;
      }

      .navBtnLink {
        border-radius: 50px;
        background: $primary-color;
        white-space: nowrap;
        padding: 10px 22px;
        color: $dark;
        font-size: 24px;
        outline: none;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        text-decoration: none;

        &:hover {
          transition: all 0.2s ease-in-out;
          background: #fff;
          color: $dark;
        }
      }
    }
  }
}
